<a href="https://colab.research.google.com/github/Steven-Macas/PIA/blob/Resum/Resumen_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> ***Python***

---
**Introducción**

1.   Developed in 1990 - General purpose programing languages in modern times.
2.   High-level, interpreted languages

**Applications**

*   Web Applications
*   Data Sciences
*   Artificil Intelligence
*   Image Processing
*   Operating Systems

In [ ]:
#Primer "Hola Mundo"
print("Hello World")
#With Variables
a="Hello"
b="World"
print(a+" "+b)

Hello World
Hello World

**Python's Data Types**

In [ ]:
#Numbers
number=50
cad="Hello"
bol=True

**Naming Convention**

---




*   The name can start with an upper or lower case alphabet.

*--> For example, you can define your income variable as Income or income, both are valid.*

*   All the names are case sensitive.

-->For example, Income and income are two different variables and not one.
*texto en cursiva*

*   A number can appear in the name, but not at the beginning.

-->For example, 12income is not a valid name but income12 or in12come are valid.
*texto en cursiva*
*   The _ character can appear anywhere in the name.

-->For example, _income or income_ are valid names.
*texto en cursiva*
*   Spaces are not allowed. Instead, we must use snake_case to make variable names readable.

*-->For example, monthly_income is a valid name.*

*   The name of the variable should be something meaningful that describes the value it holds, instead of being random characters.

*-->For example, inc or even income would not give any useful information but names like weekly_income, monthly_income, or annual_income explain the purpose of our defined variable*

**Numbers**

---

The integer data type is comprised of all the positive and negative whole numbers.

In [ ]:
#Integer Numbers
integ1=-90
integ2=39
print(str(integ1)+ " and " +str(integ2)+ " are integers")

-90 and 39 are integers

Floating Point Numbers or floats refer to positive and negative decimal numbers

In [48]:
#Floats Numbers
flt1=84.290
flt2=-26.94
print(str(flt1)+ " and " +str(flt2)+ " are floats")

84.29 and -26.94 are floats

Complex Numbers are numbers made up of a real and an imaginary part.

Just like the **print()** statement is used to print values, **complex()** is used to create complex numbers.

In [ ]:
#Complex Numbers
complx1=complex(10,32)
#10+32j
complx2=complex(-18, -39)
#-18-39j
print(complx1)
print(complx2)

(10+32j)
(-18-39j)

**Booleans**

---

*The Boolean (also known as bool) data type allows us to choose between two values: true and false.*

In [ ]:
#Booleans
valorX=False
if valorX is True:
  print("Hace sol")
else:
  print("Está lloviendo")

Hace sol

**Strings**

---

*A string is a collection of characters closed within single, double or triple quotation marks.*

In [ ]:
'''Strings
Triple, Double, Single'''
movie="Harry Potter"
opinion='está sobrevalorada'
empty=' '
print(movie + empty + opinion)

*The length of a string can be found using the len() built-in function. This length indicates the number of characters in the string:*

In [ ]:
#Length
texty="Iron Man is better Batman" #25 characters
print(len(texty))

*A string in Python is indexed from 0 to n-1 where n is its length. This means that the index of the first character in a string is 0.*


> 0 1 2 3 4

> H E L L O

*Each character in a string can be accessed using its index. The index must be closed within square brackets, [], and appended to the string.*

In [ ]:
#Indexing
batman="Bruce Wayne"
first=batman[0]
print(first) #show the character B
last = batman[len(batman) - 1]
print(last) #show the last character e

*Reverse Indexing - Negative indices start from the opposite end of the string. Hence, the -1 index corresponds to the last character:*

In [ ]:
#Reverse Indexing
text="Iron Man is better Batman" #25 characters
print(text)
print("The position -1 is " + text[-1])
print("The position -6 is " + text[-6])
print("The position -19 is " + text[-19])

Iron Man is better Batman
The position -1 is n
The position -6 is B
The position -19 is a

* **String Inmutability** - Once we assign a value to a string, we can’t update it later. How about verifying it with an executable below?*

In [ ]:
texto="Hello"
texto[0]="P" # Will give error

*Remember, assigning a new value to string variable doesn’t mean that you’ve changed the value. Let’s verify it with the id() method below.*

In [ ]:
#id() method below
text="hello"
print(text)
print(id(text))
text="World"
print(text)
print(id(text))

**NoneType**

---

*Python offers another data type called NoneType. It only has a single value, None. We can assign None to any variable, but we can not create other NoneType variables.*



*   None is not a default value for the variable that has not yet been assigned a value.
*   None is not the same as False.
*   None is not an empty string.
*   None is not 0

In [ ]:
valorY= None
print(valorY)
print(type(valorY))

None
<class 'NoneType'>

**String Slicing**

---

*Slicing is the process of obtaining a portion (substring) of a string by using its indices.*

In [ ]:
#string[start:end]
valorA="Hello World"
print(valorA[2:5])
print(valorA[3:len(valorA)])

llo
lo World

*Slicing with a Step - we can skip characters in the string. The default step is 1, so we iterate through the string one character at a time.*

In [ ]:
#stng[start:end:step]
texts="Python 3 also allows us to slice a string"
print(texts[1:8])
print(texts[1:16:2])
print(texts[1:7:5])

ython 3
yhn3as l
y

*Reverse Slicing - Strings can also be sliced to return a reversed substring. In this case, we would need to switch the order of the start and end indices.*

In [ ]:
#Reverse slicing
texts2="Python 3 also allows us to slice a string"
print(texts2[12:-1:2])
print(texts2[17:-1:-5]) #WARNING

oalw st lc  ti

**String Formatting**

---

String formatting substituting values into a string. Cases of string formatting:



*   Inserting strings within a string
*   Inserting integers within a string
*   Inserting floats within a string

In [ ]:
#Inserting strings within a string
stringA="I like %s" % "PHP" #Only %s
print(stringA)

temp ="Python"
stringB="I like %s" % temp
print(stringB)
stringC="I like %s and %s" % ("PHP", temp)
print(stringC)

The %s is the format specifier, which tells Python to insert the text here. Python will insert a string if:

*   We follow the string with a % and another string.

*   We follow the string with a % and another string type variable.

The %i is the format specifier, which tells Python to insert the integers here.

In [ ]:
#Inserting Integers within a string
my_string="%i + %i = %i" % (5,5,10)
print(my_string)

5 + 5 = 10

*%f is used to substitute floats within a string. Note, string1 includes extra zeroes. How about limiting 1.11
1.11 to two decimal places? We can use %.2f*

In [ ]:
string1 = "%f" % (1.11)
print(string1) # '1.110000'

string2 = "%.2f" % (1.1)
print(string2) # '1.11'

string3 = "%.2f" % (1.117)
print(string3) # '1.12'

**Operators**

---

are used to perform arithmetic and logical operations on data. They enable us to manipulate and interpret data to produce useful outputs. Python’s operators follow the in-fix or prefix notations.


*   In-fix operators appear between two operands (values on which the operator acts) and hence, are usually known as binary operators:

![Captura de pantalla 2022-10-07 105926.jpg]()

*   A prefix operator usually works on one operand and appears before it. Hence, prefix operators are known as unary operators

![image.png]()

In [ ]:
#Comparisons
num1 = 5
num2 = 10
num3 = 10
list1 = [6,7,8]
list2 = [6,7,8]

print(num2 > num1)  # 10 is greater than 5
print(num1 > num2)  # 5 is not greater than 10

print(num2 == num3)  # Both have the same value
print(num3 != num1)  # Both have different values

print(3 + 10 == 5 + 5)  # Both are not equal
print(3 <= 2)  # 3 is not less than or equal to 2

print(num2 is not num3)  # Both have the same object
print(list1 is list2)  # Both have the different objects

In [ ]:
#The Other Operators
num = 10
print(num)

num += 5
print(num)

num -= 5
print(num)

num *= 2
print(num)

num /= 2
print(num)

num **= 2
print(num)

**Bitwise Operators**

---

*In programming, all data is actually made up of 0s and 1s known as bits. Bitwise operators allow us to perform bit-related operations on values.*

In [ ]:
num1 = 10  # Binary value = 01010
num2 = 20  # Binary Value = 10100

print(num1 & num2)   # 0   -> Binary value = 00000
print(num1 | num2)   # 30  -> Binary value = 11110
print(num1 ^ num2)   # 30  -> Binary value = 11110
print(~num1)         # -11 -> Binary value = -(1011)
print(num1 << 3)     # 80  -> Binary value = 0101 0000
print(num2 >> 3)     # 2   -> Binary value = 0010

**Operaciones con cadenas**


---
*Strings are compatible with the comparison operators. Each character has a Unicode value.*


*This allows strings to be compared on the basis of their Unicode values.*

In [ ]:
#Comparison Operators
print('a' < 'b')  # 'a' has a smaller Unicode value

house = "Gryffindor"
house_copy = "Gryffindor"

print(house == house_copy)

new_house = "Slytherin"

print(house == new_house)

print(new_house <= house)

print(new_house >= house)

# Search
*Search - The in keyword can be used to check if a particular substring exists in another string. If the substring is found, the operation returns true*

In [ ]:
random_string = "This is a random string"

print('of' in random_string)  # Check whether 'of' exists in randomString
print('random' in random_string)  # 'random' exists!

False
True

# ***Making a List***

---

In [ ]:
my_list = [1, 2.5, "A string", True]
print(my_list[2][2])
print(len(my_list))

**Ejercicio: Fuerza Gravitacional**

---

G = 6,67 * 10^-11

M Tierra = 6.0 * 10^24

m Luna = 7.34 * 10^22

r = 3,84 * 10^8

FG=1.99 * 10^20

In [ ]:
#Fuerva Gravitacional
G=6.67*(10**-11)
M=6.0*(10**24)
m=7.34*(10**22)
r=3.84*(10**8)
"""
GMm
---
r^2

G = 6.67 * (10 ** -11)
M = 6.0 * (10 ** 24)  # Mass of Earth
m = 7.34 * (10 ** 22)  # Mass of the moon
r = 3.84 * (10 ** 8)

grav_force = (G * M * m) / (r ** 2)
"""
result=(G*M*m)/(r**2)
print(result)

1.9920979817708333e+20

**What are Conditional Statements?**

---

*A conditional statement is a Boolean expression that, if True, executes a piece of code*

In [ ]:
if condtional statement is True:
    # execute expression1
    pass
else:
    # execute expression2
    pass

In [ ]:
# 'price' has already been created
price=250
"""If the price is 300 or above, there will be a 30% discount.

If the price is between 200 and 300 (200 inclusive), there will be a 20% discount.

If the price is between 100 and 200 (100 inclusive), there will be a 10% discount.

If the price is less than 100, there will be a 5% discount.

If the price is negative, there will be no discount."""
# Write your code here
if price>=300:
    price=price-((price*30)/100)
elif price>=200 and price<300:
    price=price-((price*20)/100)
elif price>=100 and price<200:
    price=price-((price*10)/100)
elif price<100:
    price=price-((price*5)/100)
else:
    print("There will be no discount")

print(price)

200.0

# **Functions**

---

*A function is a reusable set of operations.*

![image.png]()

In [ ]:
#Function
mini=min(30,28.23,28.22,-90)
print(mini)

mini2=min("Hillo", "Hallo")
print(mini2)

**Function Creation**

---

a function can be defined using the def keyword in the following format: **def function name (parameters)**

In [ ]:
#Functions
def despedida_func():
  print("Espero que")
  print("volvamos a vernos")
  print("Hasta luego")

def bienvenida_func():
  print("Bienvenid@")
  print("Espero que hayas tenido un buen dia")

bienvenida_func()
despedida_func()

Bienvenid@
Espero que hayas tenido un buen dia
Espero que
volvamos a vernos
Hasta luego

**Parameters**

---

In [ ]:
#Parameters
def minimo(a,b):
  if a > b:
    print(str(a) + " es mayor que " + str(b))
  elif a==b:
    print(str(a) + " es igual a " + str(b))
  else:
    print(str(b) + " es mayor que " + str(a))

numA=30.8
numB=30.7
minimo(numA,numB)

30.8 es mayor que 30.7

In [ ]:
#The return Statement
def valor_retn(a,b):
  if a > b:
    return a
  return b

num1=120
num2=90
result=valor_retn(num1,num2)
print(result)

120

# ***Altering Data***

---

*When mutable data is passed to a function, the function can modify or alter it. These modifications will stay in effect outside the function scope as well. An example of mutable data is a list.*

*In the case of immutable data, the function can modify it, but the data will remain unchanged outside the function’s scope. Examples of immutable data are numbers, strings, etc.*

In [ ]:
n = 20
print(n)

def suma(num):
  num+=50
  n=num
  print("Dentro de la función n vale " + str(n))

suma(n)
print("Fuera de la funcion n vale "+ str(n))

In [ ]:
list_array=[1,2,3,4,5]
print(list_array)
def multiplicarArray(n):
  n[0]*=2
  n[1]*=2
  n[2]*=2
  n[3]*=2
  n[4]*=2
  print(n)

multiplicarArray(list_array)
arry=[10,20,30,40,50]
multiplicarArray(arry)

# **Search**

*using the in keyword is the find() method. -1 is a conventional value that represents a None or failure in case the output was supposed to be positive.*


*   substring is what we are searching for.
*   start is the index from which we start searching in a_string.
*   end is the index where we stop our search in a_string.

In [ ]:
#Search -->  a_string.find(substring, start, end)
cadn="This is my code"
print(cadn.find("my"))
print(cadn.find("cod", 10, 14))
print(cadn.find("hello"))

# **Replace / Changing / Joining / Formatting**

In [ ]:
#Replace
cadnB="Hello world, this is my code"
print(cadnB)
print(cadnB.replace("Hello world", "Hello everybody"))
print(cadnB.replace("Helo world", "Hola"))
#Si no está bien escrito, no afectará en nada

In [ ]:
#Changing - lower() - upper()
cadnC="HeLLo WorlD, tHis Is mY cOde"
print(cadnC.upper())
print(cadnC.lower())

HELLO WORLD, THIS IS MY CODE
hello world, this is my code

In [ ]:
#Joining - join
lists=["a","b","c","d"]
print('>>'.join(lists))
print(lists)

a>>b>>c>>d
['a', 'b', 'c', 'd']

In [ ]:
#Format
cadena="Im learning {language} at {where}".format(language="Python", where="Educative")
print(cadena)
cadena="Im learning {0} at {1}".format("Python", "Educative")
print(cadena)
cadena="Im learning {} at {}".format("PHP", "WWW3School")
print(cadena)

# ***Type Conversions***

In [ ]:
#int()
print("Integer")
print(int("12") * 10)  # String to integer
print(int(20.5))  # Float to integer
print(int(False))  # Bool to integer

# print (int("Hello")) # This wouldn't work!


#ord()
print("ord -> Unicode value")
print(ord('a'))
print(ord('0'))

#float()
print(float(24))
print(float('24.5'))
print(float(True))

#str()
print(str(12) + '.345')
print(str(False))
print(str(12.345) + ' is a string')

#bool
print(bool(10))
print(bool(0.0))
print(bool("Hello"))
print(bool(""))

# ***Input From The User***

---

In [ ]:
valor=input("What is your name?")
print("Hello "+ valor)

What is your name?Steven
Hello Steven

# **Lambdas**

---

A lambda is an anonymous function that returns some form of data

In [ ]:
#Usamos una funcion para crear una variable el cual se le dará valor luego pero en el momento que le demos un valor se hará una operación o indicacion que le hayamos dicho anteriormente
triple = lambda num : num * 3  # Assigning the lambda to a variable
print(triple(1))  # Calling the lambda and giving it a parameter

In [ ]:
#Ahora hacemos lo mismo pero con cadenas
concat_strings = lambda a, b, c: a[0:2] + b[0:4] + c[0:2]

print(">>".join(concat_strings("World", "Wide", "Web")))

In [ ]:
#podemos poner condiciones en lambda, ponemos el valor y luego la condicion si se cumple
my_func = lambda num: "High" if num > 50 else "Low"

print(my_func(40))

Low

# ***Duda***

In [ ]:
#Duda
def calculator(operation, n1, n2):
    return operation(n1, n2)  # Using the 'operation' argument as a function


# 10 and 20 are the arguments.
result = calculator(lambda a1, a2: n1 * n2, 10, 20)
# The lambda multiplies them.
print(result)

print(calculator(lambda n1, n2: n1 + n2, 10, 20))

In [ ]:
num_list = [0, 1, 2, 3, 4, 5]

double_list = map(lambda n: n * 2, num_list)

print(list(double_list))

In [ ]:
numList = [30, 2, -15, 17, 9, 100]

greater_than_10 = list(filter(lambda n: n > 10, numList))
print(greater_than_10)

# ***Recursion***

---

*Recursion is the process in which a function calls itself during its execution. Each recursive call takes the program one scope deeper into the function.*

In [ ]:
def rec_count(number):
    print(number)
    # Base case
    if number == 0:
        return 0
    rec_count(number - 1)  # A recursive call with a different argument
    print(number)


rec_count(5)

In [ ]:
#Fibonacci Sequence
def fib(n):
    # The base cases
    if n <= 1:  # First number in the sequence
        return 0
    elif n == 2:  # Second number in the sequence
        return 1
    else:
        # Recursive call
        return fib(n - 1) + fib(n - 2)


print(fib(6))

5

In [ ]:
def patron(a,b):
  longA=len(a)
  longB=len(b)
  c=0
  d=1
  if longA!=longB:
    return False

  for i in range(len(a)):
    for n in range(len(a)):
      if i==n:
        continue
      if a[i]==a[n]:
        return False
      if b[i]==b[n]:
        return False
      if a[i]==b[n]:
        return False

  for i in range(len(a)):
    while d<longA:
      if ord(a[i])>ord(a[d]):
        return False
      if ord(b[i])>ord(b[d]):
        return False
      d+=1

  return True

a='abc'
b='xyz'
patron(a,b)
#print(patron(a,b))

97 99 101 120 121 122

True

In [ ]:
a=5
b=10
a=a^b
b=a^b
a=a^b
print(a,b)

10 5

# ***Data Structures***

---

*is a way of storing and organizing data according to a certain format or structure.*


*   List
*   Tuple
*   Dictionary
*   Set

In [ ]:
#Lists
num_seq = range(0, 10)  # A sequence from 0 to 9
print(num_seq)
num_list = list(num_seq)  # The list() method casts the sequence into a list
print(num_list)

num_seq = range(3, 20, 3)  # A sequence from 3 to 19 with a step of 3
print(num_seq)
print(list(num_seq))

In [ ]:
#Merging Lists
part_A = [1, 2, 3, 4, 5]
part_B = [6, 7, 8, 9, 10]
merged_list = part_A + part_B
print(merged_list)

# ***Functions Lists***

● append(elemento) Añade elemento
● pop(indice) Elimina elemento y lo muestra
● extend(lista) concatena dos listas
● remove(elemento) Elimina la primera aparición de un elemento dado.
● index(elemento, indice_inicial) Devuelve la posición de un elemento
determinado
● insert(indice, elemento) Inserta un elemento en una posición
determinada.
● clear() Elimina todos los elementos de la lista
● count(elemento) Devuelve el número de veces que aparece el elemento en la lista
● sort() Ordena los elementos de la lista
● reverse() Invierte los elementos de la lista
● copy() Devuelve una copia de la lista

# ***List Comprehension***

---

*Is a technique that uses a for loop and a condition to create a new list from an existing one.*

![image.png]()

In [ ]:
#Comprehesion
nums = [10, 20, 30, 40, 50]

# List comprehension
nums_double = [n * 2 for n in nums]

print(nums)
print(nums_double)

In [ ]:
#Adding a Condition
nums = [10, 20, 30, 40, 50]

# List comprehension
nums_double = [n * 2 for n in nums if n % 4 == 0]

print(nums)
print(nums_double)

In [ ]:
#Using Multiple Lists
list1 = [30, 50, 110, 40, 15, 75]
list2 = [10, 60, 20, 50]

sum_list = [(n1, n2) for n1 in list1 for n2 in list2 if n1 + n2 > 100]

print(sum_list)

# ***Tuples***

---

*Is very similar to a list, except for the fact that its contents cannot be changed. Are immutable, we can’t add or delete elements from them.*

In [ ]:
#Nested tuples
hero1 = ("Batman", "Bruce Wayne")
hero2 = ("Wonder Woman", "Diana Prince")
awesome_team = (hero1, hero2)
print(awesome_team)
#Merging Tuples
hero1 = ("Batman", "Bruce Wayne")
hero2 = ("Wonder Woman", "Diana Prince")
awesome_team = hero1 + hero2
print(awesome_team)

# ***Dictionary***

---

*A dictionary stores key-value pairs, where each unique key is an index which holds the value associated with it.*

In [ ]:
#Diccionario
empty_dict = dict()  # Empty dictionary
print(empty_dict)

phone_book = dict(Batman=468426, Cersei=237734, Ghostbusters=44678)
# Keys will automatically be converted to strings
print(phone_book)

# Alternative approach
phone_book = dict([('Batman', 468426),
                   ('Cersei', 237734),
                   ('Ghostbusters', 44678)])
print(phone_book)

{}
{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678}
{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678}
{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678, 'Ant-Man': 123456}

# Accessing Values

In [ ]:
phone_book = {"Batman": 468426,
              "Cersei": 237734,
              "Ghostbusters": 44678}
print(phone_book["Cersei"]) #Usando corchetes
print(phone_book.get("Ghostbusters")) #Usando parentesis

# Dictionary Operations

In [ ]:
#Adding/Updating Entries
phone_book = dict([('Batman', 468426),
                   ('Cersei', 237734),
                   ('Ghostbusters', 44678)])
print(phone_book)

phone_book['Ant-Man']=123456 #Si queremos añadir solo uno
print(phone_book)
#Actualizar valor
phone_book['Ant-Man']=456789
print(phone_book)
#Eliminar
del phone_book["Batman"]
print(phone_book)
#Guardar la llave eliminada
eliminado = phone_book.pop("Cersei")
print(phone_book)
print(eliminado)

# Removes and returns the last inserted pair, as a tuple
lastAdded = phone_book.popitem()
print(lastAdded)

#Copiar contenido
second_phone_book = {"Catwoman": 67423, "Jaime": 237734, "Godzilla": 37623}

phone_book.update(second_phone_book)
print(phone_book)

# ***Comprehesion***

In [ ]:
#Repasar
houses = {1: "Gryffindor", 2: "Slytherin", 3: "Hufflepuff", 4: "Ravenclaw"}
new_houses = {n**2: house + "!" for (n, house) in houses.items()}
print(houses)
print(new_houses)

# ***Sets***

---

*Is an unordered collection of data items.*

**Modificar Conjuntos**

In [ ]:
aleatorioA = {"Educative", 1408, 3.142,(True, False)}
print(aleatorioA)

#Añadir valores
aleatorio = set()
print(aleatorio)

aleatorio.add(1)
print(aleatorio)

aleatorio.update([2, 3, 4, 5, 6])
print(aleatorio)

#Eliminar valores
aleatorioA.discard("Educative")
print(aleatorioA)
aleatorioA.remove(1408)
print(aleatorioA)

**Bucle FOR**

In [ ]:
odd_list = [1, 3, 5, 7]
unordered_set = {9, 10, 11, 12, 13, 14, 15, 16, 17}

print(unordered_set)

for num in unordered_set:
    if(not num % 2 == 0):
        odd_list.append(num)

print(odd_list)

**Lista**: 
nums = [10, 20, 30, 40, 50]

**Tupla**: 
hero1 = ("Batman", "Bruce Wayne")


**Diccionario**: 
dict = {"Batman": 468426, "Cersei": 237734,"Ghostbusters": 44678}

**Conjuntos**:
aleatorio = {"Educative", 1408, 3.142,(True, False)}

In [ ]:
#PRUEBA ---- Operadores de asignacion, limite de bytes. Error
for i in range(14000,15000):
  numero=1
  numero<<=i
  print(i, numero)